{% extends 'base.html.twig' %}

{% block title %}Nouveau Lieu{% endblock %}

{% block body %}
    <h1>Ajouter un lieu</h1>
    <p>
    {{ include('admin/crud_lieu/_form.html.twig') }}
    </p>
    <a class="btn btn-success" href="{{ path('crud_lieu_index') }}">Retour</a>
{% endblock %}
