{% extends 'base.html.twig' %}

{% block title %}Groupe - détails{% endblock %}

{% block body %}
    <h1>Groupe - détails</h1>
<p>
    {{ include('groupe/_form.html.twig', {'button_label': 'Enregistrer' }) }}
</p>
<p>
    <a class="btn btn-success" href="{{ path('groupe_index') }}">Retour</a>
</p>
    {{ include('groupe/_delete_form.html.twig') }}
{% endblock %}
