{%  extends 'base.html.twig' %}

{%  block body %}
    <h1>ENI Sort !</h1>



    <div> Vous trouverez dans ce site de nombreuses sorties proches de votre campus.</div>
   <div>Participez aux sorties annoncées ou proposez-en !</div>

    <div>Et surtout Amusez-vous bien !!</div>


    {% include 'sorties/_interface.html.twig' %}
{% endblock %}

{%  block title %}{{ parent()}} | Home {% endblock %}