{%  extends 'base.html.twig' %}

{%  block body %}
    <h1>Coucou</h1>

    <div> Vous trouverez dans ce site de nombreuses sorties proches de votre campus. Vous pouvez aussi en proposer en remplissant le formulaire.</div>
    <div>Amusez-vous bien !!</div>
{% endblock %}

{%  block title %}{{ parent()}} | Home {% endblock %}