{%  extends 'base.html.twig' %}

{%  block body %}
    <h1>Sortir.com</h1>
    <section class="phrases_intro">
      <p> Vous trouverez dans ce site de nombreuses sorties proches de votre campus.</p>
      <p>Participez aux sorties annoncées ou proposez-en !</p>
      <p>Et surtout Amusez-vous bien !!</p>
    </section>

    {% include 'sorties/_interface.html.twig' %}
{% endblock %}

{%  block title %}{{ parent()}} | Home {% endblock %}