<form method="post" action="{{ path('crud_sortie_delete', {'id': sortie.id}) }}"
      onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette sortie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
