{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sortie{% endblock %}

{% block body %}
    <h1>Ajouter une sortie</h1>

    {{ include('admin/crud_sortie/_form.html.twig') }}

    <a class="btn btn-success" href="{{ path('crud_sortie_index') }}">Retour</a>
{% endblock %}
