{% extends 'base.html.twig' %}

{% block title %}Modifier Thematiques{% endblock %}

{% block body %}
    <h1>Thématique - Modifier</h1>
    <p>
    {{ include('admin/crud_thematiques/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </p><p>
    <a class="btn btn-success" href="{{ path('crud_thematiques_index') }}">Retour</a>
    </p>
    {{ include('admin/crud_thematiques/_delete_form.html.twig') }}
{% endblock %}
