{% extends 'base.html.twig' %}

{% block title %}Nouvelle Thématique{% endblock %}

{% block body %}
    <h1>Ajouter une thématique</h1>
    <p>
    {{ include('admin/crud_thematiques/_form.html.twig') }}
    </p>
    <a class="btn btn-success" href="{{ path('crud_thematiques_index') }}">Retour</a>
{% endblock %}
