<section class="container">
    <div class="d-flex justify-content-end mb-2">
        {{  knp_pagination_sortable(sorties, 'Date', 'sorties.date_debut') }}
    </div>

    <section class="grid">
          {% for sortie  in sorties %}
              {% if app.request.attributes.get('_route') != 'sorties_liste_archivees' %}
                  {% if sortie.raisonAnnulation == null %}
                      {% include 'sorties/_liste_sorties_miniatures.html.twig' %}
                  {% endif %}
              {% endif %}
              {% if app.request.attributes.get('_route') == 'sorties_liste_archivees' %}
                  {% include 'sorties/_liste_sorties_miniatures.html.twig' %}
              {% endif %}
          {% endfor %}
    </section>
</section>
           <div class="pagination">
               {{ knp_pagination_render(sorties, '/pagination.html.twig') }}
           </div>