{% extends 'base.html.twig' %}

{% block title %}Accueil des sorties{% endblock %}

{% block body %}
    <h2 class="accueil-sorties">Filtrage des sorties</h2>

    <section class="sortie-filtre">

        {{ form_start(sortieChoixForm) }}


        {{ form_widget(sortieChoixForm)}}
        <button type="submit" class="btn">Filtrer</button>

        {{ form_end(sortieChoixForm) }}





    </section>


    <li><a href="{{ path('sorties_list') }}" title="Liste des sorties">Liste des sorties</a></li>





{% endblock %}