{% extends 'base.html.twig' %}

{% block title %}Accueil des sorties{% endblock %}

{% block body %}
    <h1 class="accueil-sorties">Sorties</h1>


    {% include 'sorties/_interface.html.twig' %}


{% endblock %}