{% extends 'base.html.twig' %}

{% block title %}Accueil des sorties{% endblock %}

{% block body %}
    <h1 class="accueil-sorties">Sorties</h1>



<div    class="container">

    <div class="row">

        <div class="col-md-3">
            <div class="sortie-filtre">
                 {{ form_start(sortieChoixForm) }}
                 {{form_widget(sortieChoixForm)}}
                <button type="submit" class="btn btn-lg btn-primary">Filtrer</button>
                  {{ form_end(sortieChoixForm) }}
            </div>
        </div>




        <div class="col-md-9">
            <div class="sorties-liste">
             <li><a href="{{ path('sorties_list') }}" title="Liste des sorties">Liste des sorties</a></li>
            </div>
        </div>
    </div>
</div>


{% endblock %}