{% extends 'base.html.twig' %}

{% block title %}Annuler une sortie{% endblock %}

{% block body %}
    {% include('inc/detailsSortie.html.twig') %}

    <h3>Pour annuler cette sortie, veuillez compléter le champ ci-dessous puis cliquer sur "Annuler la sortie" pour valider</h3>
    {{ form_start(annulationSortieForm) }}
    {{ form_widget(annulationSortieForm) }}
    <button type="submit" class="btn btn-secondary">Annuler la sortie</button>
    {{ form_end(annulationSortieForm) }}

{% endblock %}



