{% extends 'base.html.twig' %}

{% block title %}
    Proposer une nouvelle sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Créer une sortie </h1>

    <section class="sortie-create">
    {{ form_start(sortieForm) }}


    {{ form_widget(sortieForm) }}



    <button>Let's go!</button>

    {{ form_end(sortieForm) }}

    </section>

{% endblock %}