{% extends 'base.html.twig' %}

{% block title %}Détail de la sortie{% endblock %}

{% block body %}
    {% include('inc/detailsSortie.html.twig') %}

    {% include('inc/inscriptionSortie.html.twig') %}
    {% if sortie.organisateur == app.user %}
        <a href="{{ path('sorties_edit', {'id': sortie.id}) }}" class="btn btn-secondary">
            Modifier la sortie
        </a>
        <a href="{{ path('sorties_annuler', {'id': sortie.id}) }}" class="btn btn-secondary">
            Annuler la sortie
        </a>

    {% endif %}

{% endblock %}