{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    {% for sortie  in sorties %}


        <article>
            <a href="{{ path('sorties_detail', {id:sortie.id}) }}" title="Détails de la sortie">{{ sortie.nom }} </a>
        </article>



    {% endfor %}
    </section>


{% endblock %}