{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}
    {% for sortie  in sorties %}

          <div> {{ sortie.nom }}</div>



    {% endfor %}
    </section>


{% endblock %}