{% extends 'base.html.twig' %}

{% block title %}Liste des sorties{% endblock %}

{% block body %}




    <h1>{{ entete|default('Toutes les sorties proposées sont ici !') }}</h1>

    {% include 'sorties/_liste_sorties.html.twig' %}


{% endblock %}