{% extends 'base.html.twig' %}

{% block title %}Groupe index{% endblock %}

{% block body %}
    <h1>Groupes</h1>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.id }}</td>
                <td>
                    <a href="{{ path('crud_groupe_show', {'id': groupe.id}) }}">voir</a>
                    <a href="{{ path('crud_groupe_edit', {'id': groupe.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crud_groupe_new') }}">Ajouter un groupe</a>
{% endblock %}
