{% extends 'base.html.twig' %}

{% block title %}Détails Ville{% endblock %}

{% block body %}
    <h1>Ville - Modifier</h1>
<p>
    {{ include('ville/_form.html.twig', {'button_label': 'Enregistrer'}) }}
</p>
    <a class="btn btn-success" href="{{ path('ville_index') }}">Retour</a>
<p>
    {{ include('ville/_delete_form.html.twig') }}</p>
{% endblock %}
