{% extends 'base.html.twig' %}

{% block title %}Nouvelle Ville{% endblock %}

{% block body %}
    <h1>Ajouter une Ville</h1>
    <p>
    {{ include('ville/_form.html.twig') }}</p>

    <a class="btn btn-success" href="{{ path('ville_index') }}">Retour</a>
{% endblock %}
