{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block body %}
    <h1>Campus - Modifier</h1>

    {{ include('admin/crud_campus/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-success" href="{{ path('crud_campus_index') }}">Retour</a>

    {{ include('admin/crud_campus/_delete_form.html.twig') }}
{% endblock %}
