{% if app.user %}
    {% dump app.user.id %}
    {% if app.user.sortiesParticipees.contains(sortie) %}
        <h3>Vous êtes inscrit à cette sortie</h3>
        {# Si on est inscrit à la sortie alors on peut cliquer sur le bouton pour se désinscrire #}
        {{ form(desinscriptionSortieForm) }}
    {% else %}
        {% if sortie.dateCloture|date('Y-m-d') >= date("now")|date('Y-m-d') %}
            {% if sortie.participants|length < sortie.limiteParticipants %}
        {# Si on n'est pas inscrit à la sortie alors on peut cliquer sur le bouton pour s'inscrire #}
                {{ form(inscriptionSortieForm) }}
            {% else %}
                <h3>Il n'y plus de places disponibles</h3>
            {% endif %}
        {% else %}
            <h3>La date limite d'inscription est dépassée</h3>
        {% endif %}
    {% endif %}

{% else %}
    <h3>Pour pouvoir s'inscrire, veuillez vous connecter à votre compte utilisateur</h3>
    <li><a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a></li>
    <li><a href="{{ path('app_register') }}" title="S'inscrire'">Créer un compte</a></li>
{% endif %}