{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

<section class="container">

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    <div class="modif-user">
    <a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
</section>

{% endblock %}
