{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

<section class="container">
    <p>
    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </p>

    <div class="modif-user">
     <p>
    <a href="{{ path('user_index') }}" class="btn btn-success">Retour</a>
    </p>
     <p>
      {{ include('user/_delete_form.html.twig') }}
     </p>
    </div>

</section>

{% endblock %}
