{% extends 'base.html.twig' %}

{% block title %}Nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter un utilisateur</h1>
<p>
    {{ include('user/_form.html.twig') }}
</p>
    <a class="btn btn-success" href="{{ path('user_index') }}">Retour</a>
{% endblock %}
